{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nana Owusu Effah - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Nana Owusu Effah."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/me.jpeg'%}" alt="Nana Owusu Effah">
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Nana Owusu Effah</h1>
			<h2 class="quickFade delayThree">Intern, ABSA Ghana - Digital & Change</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: nanaowusueffah1@gmail.com</a></li>
				<li>linkedIn: <a href="https://www.linkedin.com/in/nana-effah-452636225?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BpxavDJ1bQla1tpZDpG5n3A%3D%3D">Nana Owusu Effah</a></li>
				<li>m: +233 544478184</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am a technology enthusiast with a focus on cybersecurity and backend development. Currently, I am involved in developing applications and managing projects, including TaskPulse, which enhances task management solutions.

						With a strong interest in embedded systems and hands-on projects like a digital thermometer using Arduino, I enjoy tackling real-world challenges. I'm eager to connect with like-minded professionals and explore innovative opportunities in the tech space.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Intern, Digital and Change</h2>
					<h3>ABSA Ghana</h3>
					<p class="subDetails">September 2024 - Present</p>
				<p>As an intern project manager, I follow meetings, update teams, and assist with project documentation. I also help track progress, test products to be enrolled, and ensure communication flows smoothly between teams and stakeholders while supporting project organization.</p>				</article>
				
				<article>
					<h2>Intern, Technology Service Dlivery</h2>
					<h3>ABSA Ghana</h3>
					<p class="subDetails">October 2022 - December 2022</p>
					<p>Provided first level support for internal customer service inquiries,
						troubleshooting and resolving system issues in timely manner.
						Effectively logged calls and assigned issues appropriately to skilled
						and informed members of my team.
						Developed communication strategies to ensure customer
						satisfaction with service delivery.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Project Management</li>
					<li>Python with Django, C++ , C & JavaScript programming
						language.</li>
					<li>IT Service Delivery</li>
					<li>MySQL & Microsoft Office Suite</li>
					<li>HTML/CSS </li>
					<li>Eagle & LaTeX Software</li>
					<li> Minute Writing</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Kwame Nkrumah University Of Science & Technology</h2>
					<p class="subDetails">BSc. Computer Engineering</p>
					<p>During my studies in computer engineering, I completed several relevant courses, including Data Structures and Algorithms, Database Management Systems, and Embedded Systems. These courses provided me with a solid foundation in problem-solving and critical thinking, essential for addressing complex technical challenges in the field.</p>
				</article>
				
				<article>
					<h2>Presbyterian Boys' Secondary School</h2>
					<p class="subDetails">Gen. Science</p>
					<p>This foundational education not only deepened my understanding of scientific principles but also equipped me with critical thinking and analytical skills essential for my further studies.

						The rigorous curriculum at PRESEC fostered a strong academic discipline, which has been invaluable in my pursuit of technology and engineering challenges.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Volunteering</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Team Executive</h2>
					<h3>We Care Health Foundation</h3>
					<p class="subDetails">Seasonal</p>
					<p>Organizing Monthly Meetings.
						Host Fundraisers.
						Plan Donations for Children Operations across Ghana</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
	</div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>